@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfc;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  overflow-y: scroll;
}

div.wrap {
  text-align: center;
  margin: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #c00;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #f24;
}

table {
  width: 100%;
  margin: 0 auto;
}

td {
  padding: 6px 12px;
  vertical-align: top;
  text-align: left;
}
table.dual td:first-child {
  text-align: right;
}

form {
  margin: 0 auto;
}

input {
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
textarea {
  width: 100%;
  height: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
table.dual td:first-child textarea {
  text-align: right;
}
